version: "3.9"
services:
  api:
    image: gantrel/skypro_nbityutskiy_todolist:$GITHUB_RUN_ID
    command: python manage.py runserver 0.0.0.0:8000
    environment:
      DB_HOST: $DB_HOST
      DB_PORT: $DB_PORT
      DJ_SECRET_KEY: $DJ_SECRET_KEY
      DJ_DEBUG: $DJ_DEBUG
      DATABASE_URL: $DATABASE_URL
      DJANGO_ALLOWED_HOSTS: $DJANGO_ALLOWED_HOSTS
      SOCIAL_AUTH_VK_OAUTH2_KEY: $SOCIAL_AUTH_VK_OAUTH2_KEY
      SOCIAL_AUTH_VK_OAUTH2_SECRET: $SOCIAL_AUTH_VK_OAUTH2_SECRET
    ports:
    - 5000:5000
    depends_on:
      postgres:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully

  front:
    image: sermalenk/skypro-front:lesson-35
    restart: always
    ports:
      - "80:80"

  migrations:
    image: gantrel/skypro_nbityutskiy_todolist:$GITHUB_RUN_ID
    environment:
      DB_HOST: $DB_HOST
      DB_PORT: $DB_PORT
      DJ_SECRET_KEY: $DJ_SECRET_KEY
      DJ_DEBUG: $DJ_DEBUG
      DATABASE_URL: $DATABASE_URL
      DJANGO_ALLOWED_HOSTS: $DJANGO_ALLOWED_HOSTS
      SOCIAL_AUTH_VK_OAUTH2_KEY: $SOCIAL_AUTH_VK_OAUTH2_KEY
      SOCIAL_AUTH_VK_OAUTH2_SECRET: $SOCIAL_AUTH_VK_OAUTH2_SECRET
    command: python3 manage.py migrate --noinput
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:13.0-alpine
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
    - "5432:5432"


volumes:
  postgres_data:
  frontend: